version: '2'
services:
    test-jest:
        build: .
        depends_on:
            - mongo
        links:
            - mongo
        environment:
            NODE_ENV: test
            MONGO_URL: mongodb://mongo/test
        volumes:
            - "./src:/app/src"
        entrypoint: "npm run test:watch"
    mongo:
        image: mongo
